<div class="relative flex size-full min-h-screen flex-col bg-[#111318] dark group/design-root overflow-x-hidden" style='font-family: "Spline Sans", "Noto Sans", sans-serif;'>
  <div class="layout-container flex h-full grow flex-col">

    <div class="px-40 flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="@container">
          <div class="@[480px]:p-4">
            <div
              class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-4"
              style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("{{ hero_background_image:url }}");'
            >
              <div class="flex flex-col gap-2 text-center">
                <h1
                  class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                >
                    {{ hero_title }}
                </h1>
                <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                    {{ hero_subtitle }}
                </h2>
              </div>
              <a href="{{ hero_button_link }}"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#2469f3] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
              >
                <span class="truncate">{{ hero_button_text }}</span>
              </a>
            </div>
          </div>
        </div>
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">{{ platform_highlights_title }}</h2>
        <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
          <div class="flex items-stretch p-4 gap-3">
            {{ platforms }}
            <{{ if platform_link }}a href="{{ platform_link }}"{{ else }}div{{ /if }} class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60 text-white no-underline hover:text-white">
              <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex flex-col"
                style='background-image: url("{{ platform_logo:url }}");'
              ></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">{{ platform_name }}</p>
                <p class="text-[#9ca6ba] text-sm font-normal leading-normal">
                  {{ platform_description }}
                </p>
              </div>
            </{{ if platform_link }}a{{ else }}div{{ /if }}>
            {{ /platforms }}
          </div>
        </div>
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">{{ latest_news_title }}</h2>
        {{ collection:blog limit="{{ latest_news_count }}" }}
        <a href="{{ url }}" class="block rounded-xl hover:bg-gray-800 transition-colors duration-200 p-4">
          <div class="flex items-stretch justify-between gap-4 rounded-xl">
            <div class="flex flex-col gap-1 flex-[2_2_0px]">
              <p class="text-white text-base font-bold leading-tight">{{ title }}</p>
              <p class="text-[#9ca6ba] text-sm font-normal leading-normal">
                {{ main_content | bard_text | strip_tags | safe_truncate:120 '...' }}
              </p>
            </div>
            <div
              class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
              style='background-image: url("{{ hero_image:url }}");'
            ></div>
          </div>
        </a>
        {{ /collection:blog }}
        <div class="p-4">
          <div class="flex items-stretch justify-between gap-4 rounded-xl">
            <div class="flex flex-col gap-1 flex-[2_2_0px]">
              <p class="text-white text-base font-bold leading-tight">{{ bts_title }}</p>
              <p class="text-[#9ca6ba] text-sm font-normal leading-normal">
                {{ bts_description }}
              </p>
              {{ if bts_button_text && bts_button_link }}
                <a href="{{ bts_button_link }}" class="inline-block mt-3 min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2469f3] text-white text-sm font-bold leading-normal tracking-[0.015em]">
                  <span class="truncate">{{ bts_button_text }}</span>
                </a>
              {{ /if }}
            </div>
            <div
              class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
              style='background-image: url("{{ bts_image:url }}");'
            ></div>
          </div>
        </div>
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">{{ community_picks_title }}</h2>
        <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
          {{ community_items }}
          <{{ if item_link }}a href="{{ item_link }}"{{ else }}div{{ /if }} class="flex flex-col gap-3 pb-3 text-white no-underline hover:text-white">
            <div
              class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
              style='background-image: url("{{ item_image:url }}");'
            ></div>
            <div>
              <p class="text-white text-base font-medium leading-normal">{{ item_title }}</p>
              <p class="text-[#9ca6ba] text-sm font-normal leading-normal">
                {{ item_description }}
              </p>
            </div>
          </{{ if item_link }}a{{ else }}div{{ /if }}>
          {{ /community_items }}
        </div>
      </div>
    </div>

  </div>
</div>